@import "bourbon";


$main: #3cf;
$join: hsla(340,85%,70%,1);
$intro: hsla(30,85%,50%,1);
$live: hsla(240,85%,50%,1);
$track: hsla(60,85%,30%,1);


.fat-only {
	@media only screen and (max-width: 767px) {
    display: none !important;        
  }
}

.thin-only {
	@media only screen and (min-width: 768px) {
    display: none !important;        
  }	
}