@import "bourbon";

$main: #3cf;
$join: hsla(340,85%,70%,1);
$intro: hsla(30,85%,50%,1);
$live: hsla(240,85%,50%,1);
$track: hsla(60,85%,30%,1);

$main_color: #3fadc7;
$step_color: #db4f4f;
$intro_color: #f4e025;

$navBgColor: hsla(0, 0%, 100%, 0.95);
$navHeight: 55px;

$breakpoint: 767px;
$comp_max_width: 1200px;

$main_font: Roboto, 'Microsoft JhengHei', 'Heiti TC', sans-serif;
$logo_font: Lobster, 'Microsoft JhengHei', 'Heiti TC', serif;

// ********************** global reset

* { box-sizing: border-box }

body {
  font-family: $main_font;
  font-size: 2.5vmin;
  padding: 0;
  margin: 0;

  visibility: visible;
  opacity: 1;
  // @include transition(opacity 0.5s ease);
  transition: opacity 0.5s ease;

}


// ********************** default style for each component

.component {
  position: relative;

  h1, h2, h3, h4, h5, h6, p{
    font-family: $main_font;
    a{
      cursor: pointer !important;
      color: dimgray;
      border-bottom: 1px dashed lightgray;
    }
  }

  strong {
    font-weight: 900;
    color: black;
  }

}

// ********************** 2-way layout settings

.fat-only {
	@media only screen and (max-width: $breakpoint) {
    display: none !important;        
  }
}

.thin-only {
	@media only screen and (min-width: $breakpoint+1) {
    display: none !important;        
  }	
}
